body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  color: #cacaca;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

div.draggable,
div.dropzone {
  display: flex;

  padding: 20px 10px;
  border-radius: 10px;

  background-color: #222;
}

div.dropzone {
  width: 600px;
  height: 400px;

  justify-content: center;
  align-items: center;

  border: 2px dashed #555;
}

div.dropzone.dragging {
  background-color: #575757;
}

div.draggable {
  width: fit-content;
  height: fit-content;
  background-color: #777;
  user-select: none;

  cursor: grab;
}

div.draggable:hover {
  background-color: #888;
  color: #dadada;
}
